body {
    background-image : url(bg-01.jpg);
    background-repeat:no-repeat;
    background-size:1920px 1600px;
    background-position:fixed;
}

a {
    text-decoration: none;
    color: #33b5e5;


}

#pbutton1 {
    width:500px;
    height:580px;
    border: 14px ridge #e59400;
    border-radius: 10px;
    background: black;
    color:lightblue;
    text-align:center;
    margin:auto;
}
#pbutton2 {
    width:500px;
    height:580px;
    border: 14px ridge #e59400;
    border-radius: 10px;
    background-color:black;
    color:lightblue;
    text-align:center;
    position:fixed;
    top:300px;
    left:125px;
}
#pbutton3 {
    width:500px;
    height:580px;
    border: 14px ridge #e59400;
    border-radius: 10px;
    background-color:black;
    color:lightblue;
    text-align:center;
    position:fixed;
    top:300px;
    right:125px;
}